.upper-info
  .upper-info__contents
    .upper-info__contents__logo
      = current_user.name + "さんのマイページ"
    .upper-info__contents__form
      .upper-info__contents__form__input
        %input{type: "text", class: "input-box-text", placeholder: 'type a ○ ○'}
      .upper-info__contents__form__submit
        %input{type: "submit", class: "submit-btn"}
    .upper-info__contents__menus
      .upper-info__contents__menus__name
        = link_to root_path do
          一覧
      .upper-info__contents__menus__menu1
        = link_to new_memo_path do
          = icon('far', 'edit')
      .upper-info__contents__menus__menu2
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog')


.main-contents
  .main-contents__box
    - @memos.each do |memo|
      .main-contents__box__memo
        = simple_format(memo.text)
