.upper-info
  .upper-info__contents
    .upper-info__contents__logo
      = @name
    .upper-info__contents__form
      .upper-info__contents__form__input
        = form_with url: search_memos_path, local: true, method: :get, class: "search-form" do |form|
          = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
          = form.submit "検索", class: "search-btn"
    .upper-info__contents__menus
      .upper-info__contents__menus__name
        = link_to root_path do
          投稿一覧
      .upper-info__contents__menus__menu-box
        .upper-info__contents__menus__menu-box__menu1
          = link_to new_memo_path do
            = icon('far', 'edit')
        .upper-info__contents__menus__menu-box__menu2
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog')


.main-contents
  .main-contents__box
    - @memos.each do |memo|
      - if user_signed_in? && current_user.id == memo.user_id
        .main-contents__box__my-memo
          .main-contents__box__memo__name
            .main-contents__box__memo__name__type
              = link_to user_path(memo.user_id) do
                = simple_format(memo.user.name)
          .main-contents__box__my-memo__title
            .main-contents__box__my-memo__title__type
              = simple_format(memo.title)
          .main-contents__box__my-memo__text
            .main-contents__box__my-memo__text__type
              = simple_format(memo.text)
            .main-contents__box__my-memo__text__contents
              .main-contents__box__my-memo__text__contents__list
                .main-contents__box__my-memo__text__contents__list__show
                  = link_to "詳細", "/memos/#{memo.id}", method: :get
                - if user_signed_in? && current_user.id == memo.user_id
                  .main-contents__box__my-memo__text__contents__list__edit
                    = link_to "編集", "/memos/#{memo.id}/edit", method: :get
                  .main-contents__box__my-memo__text__contents__list__delete
                    = link_to "削除", "/memos/#{memo.id}", method: :delete
              .main-contents__box__my-memo__text__contents__comment
                - if memo.show_last_comment == current_user.id || memo.show_last_comment == 'コメントはありません'
                  
                - else memo.show_last_comment != current_user.id
                  .main-contents__box__my-memo__text__contents__comment__new
                    new
      - else
        - if memo.complete == true
          .main-contents__box__my-memo
            .main-contents__box__memo__name
              .main-contents__box__memo__name__type
                = link_to user_path(memo.user_id) do
                  = simple_format(memo.user.name)
            .main-contents__box__my-memo__title
              .main-contents__box__my-memo__title__type
                = simple_format(memo.title)
            .main-contents__box__my-memo__text
              .main-contents__box__my-memo__text__type
                = simple_format(memo.text)
              .main-contents__box__my-memo__text__contents
                .main-contents__box__my-memo__text__contents__list
                  .main-contents__box__my-memo__text__contents__list__show
                    = link_to "詳細", "/memos/#{memo.id}", method: :get
                  - if user_signed_in? && current_user.id == memo.user_id
                    .main-contents__box__my-memo__text__contents__list__edit
                      = link_to "編集", "/memos/#{memo.id}/edit", method: :get
                    .main-contents__box__my-memo__text__contents__list__delete
                      = link_to "削除", "/memos/#{memo.id}", method: :delete
                .main-contents__box__my-memo__text__contents__comment
                  - if memo.show_last_comment == current_user.id || memo.show_last_comment == 'コメントはありません'
                    
                  - else memo.show_last_comment != current_user.id
                    .main-contents__box__my-memo__text__contents__comment__new
                      new
    = paginate(@memos)