.new-contents
  .new-contents__title
    編集memo
.new-contents__form
  .new-contents__form__area
    = form_for @memo do |f|
      .new-contents__form__area__check-box
        = f.label "公開"
        = f.check_box :complete
      .new-contents__form__area__title
        = f.text_field :title, class: 'new-contents__form__title-area', placeholder: 'type a title'
      .new-contents__form__area__text
        = f.text_area :text, class: 'new-contents__form__text-area', placeholder: 'type a text'
      .new-contents__form__area__send
        = f.button '変更する', class: 'new-contents__form__area__send__btn', onclick: "submit();", type: "button"
        .new-contents__form__area__send__back
          .new-contents__form__area__send__back__btn
            = link_to root_path do
              戻る