.upper-info
  .upper-info__contents
    .upper-info__contents__logo 検索結果
    .upper-info__contents__form
      .upper-info__contents__form__input
        = form_with url: search_memos_path, local: true, method: :get, class: "search-form" do |form|
          = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
          = form.submit "検索", class: "search-btn"
        -# %input{type: "text", class: "input-box-text", placeholder: 'type a ○ ○'}
      .upper-info__contents__form__submit
        -# %input{type: "submit", class: "submit-btn"}
    .upper-info__contents__menus
      .upper-info__contents__menus__name
        = link_to user_path(current_user) do
          = current_user.name
      .upper-info__contents__menus__menu1
        = link_to new_memo_path do
          = icon('far', 'edit')
      .upper-info__contents__menus__menu2
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog')


.main-contents
  .main-contents__box
    - @memos.each do |memo|
      - if memo.complete == true
        .main-contents__box__memo
          .main-contents__box__memo__title
            .main-contents__box__memo__title__type
              = simple_format(memo.title)
          .main-contents__box__memo__text
            .main-contents__box__memo__text__type
              = simple_format(memo.text)
      - else
      