.upper-info
  .upper-info__contents
    .upper-info__contents__logo 詳細画面
    .upper-info__contents__form
      .upper-info__contents__form__input
        = form_with url: search_memos_path, local: true, method: :get, class: "search-form" do |form|
          = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
          = form.submit "検索", class: "search-btn"
    .upper-info__contents__menus
      .upper-info__contents__menus__name
        = link_to user_path(current_user) do
          = current_user.name
      .upper-info__contents__menus__menu-box
        .upper-info__contents__menus__menu-box__menu1
          = link_to new_memo_path do
            = icon('far', 'edit')
        .upper-info__contents__menus__menu-box__menu2
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog')

.main-contents
  .main-contents__box
    .main-contents__box__my-memo
      .main-contents__box__memo__name
        .main-contents__box__memo__name__type
          = link_to user_path(@memo.user_id) do
            = simple_format(@memo.user.name)
      .main-contents__box__my-memo__title
        .main-contents__box__my-memo__title__type
          = simple_format(@memo.title)
      .main-contents__box__my-memo__text
        .main-contents__box__my-memo__text__type
          = simple_format(@memo.text)
  .comment-form
    .comment-form__box
      - if current_user
        = form_with(model: [@memo, @comment], local: true) do |form|
          .comment-form__box__text
            = form.text_area :text, placeholder: "コメントする", rows: "2"
          .comment-form__box__btn
            = form.button '送信', class: 'comment-form__box__btn__send', onclick: "submit();", type: "button"
      - else
        コメントの投稿には新規登録/ログインが必要です
  .comments
    .comments__box
      コメント一覧
      .comments__box__list
        - if @comments
          - @comments.each do |comment|
            .comments__box__list__display
              .comments__box__list__display__name
                = link_to comment.user.name, "/users/#{comment.user_id}"
              .comments__box__list__display__text
                = comment.text