.upper-info
  .upper-info__contents
    .upper-info__contents__logo 詳細画面
    .upper-info__contents__form
      .upper-info__contents__form__input
        = form_with url: search_memos_path, local: true, method: :get, class: "search-form" do |form|
          = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
          = form.submit "検索", class: "search-btn"
    .upper-info__contents__menus
      .upper-info__contents__menus__name
        = link_to root_path do
          投稿一覧
      .upper-info__contents__menus__menu1
        = link_to new_memo_path do
          = icon('far', 'edit')
      .upper-info__contents__menus__menu2
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog')

.main-contents
  .main-contents__box
    .main-contents__box__my-memo
      .main-contents__box__memo__name
        .main-contents__box__memo__name__type
          = link_to user_path(@memo.user_id) do
            = simple_format(@memo.user.name)
      .main-contents__box__my-memo__title
        .main-contents__box__my-memo__title__type
          = simple_format(@memo.title)
      .main-contents__box__my-memo__text
        .main-contents__box__my-memo__text__type
          = simple_format(@memo.text)